* {
  font-family: verdana;
  font-weight: normal;
}

table {
  width: 100%;
  border: solid 0px red;
  border-collapse: collapse;
}

.pageHeader {
  background-color: #0191c8;
  color: white;
}

.pageHeader th {
  border-bottom: none;
}

.pageFooter {
  position: absolute;
  bottom: 0.25cm;
  background-color: #0191c8;
  color: white;
}

th {
  text-align: left;
  padding: 0 10px;
  font-size: larger;
  border-bottom: solid 1px #ccc;
}

td {
  padding: 0 10px;
}

.GroupHeader {
  font-weight: bold;
}

p {
  font-family: Lato;
}

body {
  background: rgb(204, 204, 204);
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0.25cm;
}

page.A4 {
  width: 20.5cm;
  height: 29.2cm;
}

page.A4.landscape {
  width: 29.7cm;
  height: 21cm;
}

page.A3 {
  width: 29.7cm;
  height: 42cm;
}

page.A3.landscape {
  width: 42cm;
  height: 29.7cm;
}

page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}

page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
