* {
  font-family: verdana;
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table.pageFooter {
  width: calc(100% - 20px);
}

.reportHeader
{
  height: 2.5cm;
  margin-left: 10px;
  display:flex;
  margin-top:.5cm
}

.reportHeader > .icon > img {
  max-width: 100%;
  
}

.reportHeader > .icon
{
  /* border:solid 1px red; */
  height: 3cm;
  width: 2cm;
  margin-right: 10px;
}

.reportHeader .title {
  font-size: x-large;
  color:#111;
}

.reportHeader .subTitle {
  color:#333;
  font-size: normal;
}

.reportHeader > .reportTitles
{
  display: flex;
  margin-top:10px;
  flex-direction: column;
}


.pageHeader {
  background-color: #0191c8;
  color: white;
}

.pageHeader th {
  border-bottom: none;
}

.pageFooter {
  position: absolute;
  bottom: 0.25cm;
  background-color: #0191c8;
  color: white;
}

.summaryKey {
  /* font-weight: bold; */
}

.summaryValue {
}

.summaryTitle {
  height: '.8cm';
  font-size: larger;
  overflow: hidden;
  /* font-weight: bold; */
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0.2cm;
}

.pageFooter > tr > td:first-child, .pageHeader > tr > td:first-child {
  width: 25%;
}

.pageFooter > tr > td:nth-child(2), .pageHeader > tr > td:nth-child(2) {
  text-align: center;
}

.pageFooter > tr > td:nth-child(3), .pageHeader > tr > td:nth-child(3) {
  width: 25%;
  text-align: right;
}

.rows_row
{
  color:#111;
}

th {
  text-align: left;
  padding: 0 10px;
  font-size: normal;
  background-color: #0191c8;
  color:white;
  /* border-bottom: solid 1px #0191c8; */
}

td {
  padding: 0 10px;
}

tr.rows_row:nth-child(odd){
  background-color: #efefef;
  /* color: #fff; */
}

.GroupHeader {
  /* font-weight: bold; */
}

p {
  font-family: Lato;
}

body {
  background: rgb(204, 204, 204);
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0.25cm;
}

page.A4 {
  width: 20.5cm;
  height: 29.2cm;
}

page.A4.landscape {
  width: 29.7cm;
  height: 21cm;
}

page.A3 {
  width: 29.7cm;
  height: 42cm;
}

page.A3.landscape {
  width: 42cm;
  height: 29.7cm;
}

page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}

page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
